$colSfondo: #3d323e;

@font-face {
  font-family: Atavi;
  src: url('../Font/heroesassemble2.ttf');
}

@font-face {
  font-family: AtaviMessage;
  src: url("../Font/TIMESS__.ttf");}

*
{
 margin: 0em;
 padding: 0em;
}

html
{
 font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

.hide
{
  text-indent:100%;
 white-space:nowrap;
 overflow:hidden;
}

body
{
  background-color: $colSfondo;
}

#mainFrame
{
  border-top-left-radius: 2em;
  margin: 0 auto;
  margin-top: 1em;
  height: 30em;
  width: 65%;
  border-top: 0.14em solid #000000;
  border-left: 0.14em solid #000000;
  border-right: 0.14em solid #000000;
  background-color: #ffffff;
  overflow-y: scroll;
  &::-webkit-scrollbar-thumb
  {
   background-color: #fff;
  }
  &:hover
  {
    &::-webkit-scrollbar-thumb
    {
      border: 2px solid #FFF;
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: darken($colSfondo, 10%);
    }
  }
  &::-webkit-scrollbar
  {
   width: 12px;
   background-color: #FFF;
  }
  &::-webkit-scrollbar-track
  {
   background-color: #FFF;//#F5F5F5;
    display:none;
  }
}

#startStop
{
  text-align: center;
  margin: 0 auto;
  width: 40%;
  height: 13em;
}

.buttonKeyboard
{
  margin: 0 auto;
  display: inline-flex;
  width: 20%;
  height: 30%;
  background-image: url("../Image/keyboard.png");
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
    cursor: pointer;
}

.buttonSS
{
  margin: 0 auto;
  display: inline-flex;
  width: 25%;
  height: 60%;
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  margin-right: 2em;
}

.buttonReminder
{
  margin: 0 auto;
  display: inline-flex;
  width: 13%;
  height: 30%;
  background-size: 100% 100%;
  background-color: transparent;
  background-image: url("../Image/reminder.png");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  overflow: hidden;
}

#start
{
  background-image: url("../Image/start.png");
}

#stop
{
 background-image: url("../Image/stop.png");
}

#nomeApp
{
 color: #ffffff;
/*  background-image: url("../Image/100.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3.2em;*/
  float:left;
  width: 100%;
  margin-bottom: 0.5em;
}

#staticTitleApp
{
  width: 100%;
}

#loadingImg
{
  width: 50%;
}

#divKeyboard
{
  height: 3.2em;
}

#textMsg
{
  display: none;
  margin: 0 auto;
  width: 65%;
  margin: 0 auto;
}

#textMsg input
{
  width: 91%;
  padding: 0.5em 0.5em;
}

#textMsg button
{
  background-color: transparent;
  background-image: url("../Image/send.png");
  background-repeat: no-repeat;
  border: 0em;
  background-size: 100%;
  height: 3.2em;
  cursor: pointer;
}

//Css ConversationApp

#listMessages
{
  list-style: none;
  background: none;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

$shad: 0.04em;
#listMessages li
{
  padding: 0.5em;
  border: 0.2em;
  max-width: 70%;
  font-size: 1.8em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
  box-shadow: $shad $shad $shad $shad #888888;
  font-family: AtaviMessage;
}

$br: 0.6em;
li[data-sender="0"]
{
  background-color: #9adb99;
  margin-left: 0.5em;
  border-radius: $br $br $br 0;
}

li[data-sender="1"]
{
  background-color: #99dbdb;
  margin-right: 0.5em;
  margin-left: 30%;
  border-radius: $br $br 0 $br;
}
