{
	"id": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
	"name": "Rules",
	"description": "Vogliamo testare che le classi contenute in Rules interagiscano tra loro correttamente. Tali classi sono RulesDAODynamoDB, RulesService e TasksDAODynamoDB.",
	"order": [
		"4a142678-e5a7-7f19-e831-fa25dbe753b2",
		"22a6f233-3b02-1a24-c6f0-1e7c6d4b6f57",
		"c98570c7-7af9-b6b5-bff2-f96f8a7e48b9",
		"a268e1fe-2284-8a00-a920-45c71a037544",
		"85eea0ef-0a41-6d1e-b311-434744d73d0b",
		"f00e7c1f-f591-f2af-d165-9fcaaeea8455",
		"58bdeced-0301-0252-537e-5eea7047d902",
		"5e1f3cd6-d96a-76c7-5236-1047094fe53d",
		"bd8b1c8c-a8da-193d-e565-8949e5e6c5ab",
		"886042f1-e0ed-39b7-5801-168cc700e6c8",
		"8ce73337-5e0a-78c1-bd48-d02d33bf8a1c",
		"e846acf9-cb63-884e-7465-ec8fd4c529d6"
	],
	"folders": [],
	"timestamp": 1493754330470,
	"owner": 0,
	"public": false,
	"requests": [
		{
			"id": "22a6f233-3b02-1a24-c6f0-1e7c6d4b6f57",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\nContent-Type: application/json\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/test1",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "PUT",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"updateRule success\"] = responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108466199,
			"name": "updateRule (test1 con enabled = true)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": true,\r\n\t\"name\": \"test1\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"task\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "4a142678-e5a7-7f19-e831-fa25dbe753b2",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\nContent-Type: application/json\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "POST",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"addRule success\"] = responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108461439,
			"name": "addRule (test1 con enabled = false)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"name\": \"test1\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "58bdeced-0301-0252-537e-5eea7047d902",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/test5",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "GET",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"getRule success\"] = responseCode.code === 404;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108550888,
			"name": "getRule (test5 Not found)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"id\": 1,\r\n\t\"name\": \"testRule\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "5e1f3cd6-d96a-76c7-5236-1047094fe53d",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "GET",
			"data": [],
			"dataMode": "raw",
			"tests": "var body = JSON.parse(responseBody);\ntests[\"getRuleList success\"] = body.rules.length === 2 && responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108484184,
			"name": "getRuleList",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"id\": 1,\r\n\t\"name\": \"testRule\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "85eea0ef-0a41-6d1e-b311-434744d73d0b",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\nContent-Type: application/json\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "POST",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"addRule Conflict\"] = responseCode.code === 409;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108473607,
			"name": "addRule (test1 Conflict)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"name\": \"test1\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "886042f1-e0ed-39b7-5801-168cc700e6c8",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/test1",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "DELETE",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"deleteUser success\"] = responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108489255,
			"name": "deleteRule (test1)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": ""
		},
		{
			"id": "8ce73337-5e0a-78c1-bd48-d02d33bf8a1c",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/test2",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "DELETE",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"deleteUser success\"] = responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108492151,
			"name": "deleteRule (test2)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": ""
		},
		{
			"id": "a268e1fe-2284-8a00-a920-45c71a037544",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\nContent-Type: application/json\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "POST",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"addRule success\"] = responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108471231,
			"name": "addRule (test2)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"name\": \"test2\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "bd8b1c8c-a8da-193d-e565-8949e5e6c5ab",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/tasks",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "GET",
			"data": [],
			"dataMode": "raw",
			"tests": "var body = JSON.parse(responseBody);\ntests[\"getTaskList success\"] = responseCode.code === 200 && 'tasks' in body;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108566543,
			"name": "getTaskList",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"id\": 1,\r\n\t\"name\": \"testRule\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "c98570c7-7af9-b6b5-bff2-f96f8a7e48b9",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\nContent-Type: application/json\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "POST",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"addRule Bad Request\"] = responseCode.code === 400;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108468240,
			"name": "addRule (Bad Request)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"name\": \"test2\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"task\": \"testTask\"\r\n\t}\r\n}"
		},
		{
			"id": "e846acf9-cb63-884e-7465-ec8fd4c529d6",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/test1",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "DELETE",
			"data": [],
			"dataMode": "raw",
			"tests": "tests[\"deleteUser Not found\"] = responseCode.code === 404;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108494599,
			"name": "deleteRule (test1 Not found)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": ""
		},
		{
			"id": "f00e7c1f-f591-f2af-d165-9fcaaeea8455",
			"headers": "x-api-key: DMSupE0COE4exAHJNct2zJgZv8FFxmj29AUdkt34\n",
			"url": "https://0b1mtafpyi.execute-api.eu-central-1.amazonaws.com/dev/rules/test1",
			"preRequestScript": null,
			"pathVariables": {},
			"method": "GET",
			"data": [],
			"dataMode": "raw",
			"tests": "var body = JSON.parse(responseBody);\ntests[\"getRule success\"] = body.rule_name === 'test1' && responseCode.code === 200;",
			"currentHelper": "normal",
			"helperAttributes": {},
			"time": 1494108477911,
			"name": "getRule (test1)",
			"description": "",
			"collectionId": "c6070154-b1b1-b42f-5f3d-5f2c10324632",
			"responses": [],
			"rawModeData": "{\r\n\t\"enabled\": false,\r\n\t\"id\": 1,\r\n\t\"name\": \"testRule\",\r\n\t\"targets\": [\r\n\t{\r\n\t\t\"company\": \"testCompany\",\r\n\t\t\"member\": \"testMember\",\r\n\t\t\"name\": \"testName\"\r\n\t}],\r\n\t\"task\":\r\n\t{\r\n\t\t\"params\":\r\n\t\t{\r\n\t\t\t\"param\": \"testParam\"\r\n\t\t},\r\n\t\t\"type\": \"testTask\"\r\n\t}\r\n}"
		}
	]
}